<div class="tabs-control d-flex align-items-center justify-content-end">
  <a href="#" class="tab tab-active d-flex flex-column text-center">
    <div class="tab-count text-overflow-ellipsis">{{user?.my_images.length}}</div>
    <span class="tab-name text-upper">No. Selfies</span>
  </a>
  <a href="#" class="tab d-flex flex-column text-center">
    <div class="tab-count text-overflow-ellipsis">{{user?.glories.length}}</div>
    <span class="tab-name text-upper">My Glories</span>
  </a>
  <a href="#" class="tab d-flex flex-column text-center">
    <div class="tab-count text-overflow-ellipsis">{{user?.favourites.length}}</div>
    <span class="tab-name text-upper">Favourites</span>
  </a>
  <a href="#" class="tab d-flex flex-column text-center">
    <div class="tab-count text-overflow-ellipsis">{{user?.followers.length}}</div>
    <span class="tab-name text-upper">Followers</span>
  </a>
  <a href="#" class="tab d-flex flex-column text-center">
    <div class="tab-count text-overflow-ellipsis">{{user?.followings.length}}</div>
    <span class="tab-name text-upper">Followings</span>
  </a>
</div>
