mat-toolbar {
  background-color: #212121;
  margin: 30px auto;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.menu {
  margin-left: auto;
}
.header-link {
  color: #fff;
  transition: .2s ease-out;
  line-height: 79px;
  cursor: pointer;
}
.header-link.active {
  color: #e12ebc;
}
.header-link:hover {
  color: #e12ebc;
}
.menu-item + .menu-item {
  margin-left: 40px;
}
.logo {
  width: 57px;
  height: 79px;
}

.login-text {
  margin-left: 15px;
}

.notifications-list {
  position: absolute;
  border: 1px solid #fff;
  top: 80%;
  right: 710px;
  width: 420px;
  font-size: 16px;
  color: #212121;
  z-index: 1000;
  border-radius: 5px;
  height: 455px;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 7px 25px 2px rgba(0, 0, 0, .13);
}

.notifications-header {
  padding: 30px 28px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 24px;
}

.btns-wrapper {
  font-size: 12px;
  color: #e12ebc;
}
.btns-wrapper button {
  background-color: transparent;
  color: #e12ebc;
}
.btns-wrapper span {
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.notifications-body {
  max-height: 330px;
  overflow-y: auto;
  line-height: 1.5;
}

.notification {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 30px;
}
.notification-img {
  width: 70px;
  height: 70px;
  margin-right: 18px;
  border-radius: 50%;
  background-color: #e6e6e6;
  overflow: hidden;
  flex-shrink: 0;
}

.notifications-body .notification-info p {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: none;
  color: black;
  /*word-wrap: break-word;*/
  white-space: normal;
}
.notifications-body .notification-info span {
  font-size: 12px;
  color: #585858;
  text-transform: none;
  white-space: normal;
  /*word-wrap: break-word;*/
}



