<mat-toolbar *ngIf="!isHidden">
    <div class="container">
      <div class="row">
        <div class="col col-6 d-flex align-items-between justify-content-between">
          <a href="#" class="logo d-flex justify-content-center align-items-center">
            <img src="assets/img/logo.png" alt="logo">
          </a>
          <nav class="menu">
            <a class="menu-item header-link" href="#">Home</a>
            <a class="menu-item header-link" href="#">Challenges</a>
            <a class="menu-item header-link" href="#">Winners</a>
          </nav>
        </div>
        <div class="col col-4 offset-2 d-flex align-items-center">
          <div class="notifications header-link" (click)="showNotifications = !showNotifications">
            <i class="fa-icon fas fa-bell"></i>
          </div>
          <div class="login-group ml-auto" [routerLink]="['/auth/login/']" *ngIf="!userId">
            <a href="#" class="header-link">
              <i class="fa-icon fas fa-user"></i>
              <span class="login-text">Login</span>
            </a>
          </div>
          <a class="user-profile header-link ml-auto d-flex align-items-center" *ngIf="userId" (click)="dropdownVisible = !dropdownVisible">
            <div class="profile-img mr-4">
              <img class="" src="{{userAvatar}}" alt="user-avatar" class="user-avatar">
            </div>
            <i class="fa-icon fas fa-chevron-down transition"></i>
            <div class="profile-dropdown" *ngIf="dropdownVisible">
              <ul class="dropdown-list">
                <li class="dropdown-item" >
                  <a class="dropdown-list-item" href="#" [routerLink]="['/users/', userId]">
                    <i class="fas fa-user mr-4"></i>
                    <span>My profile</span>
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-list-item" [routerLink]="['/users/', userId, 'settings']">
                    <i class="fas fa-cog mr-4"></i>
                    <span>Account settings</span>
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-list-item" (click)="signOut()">
                    <i class="fas fa-sign-out-alt mr-4"></i>
                    <span>Sign out</span>
                  </a>
                </li>

              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
  <!-- / container-->
  <div class="notifications-list" *ngIf="showNotifications">
    <div class="notifications-header">
      <h5>Notifications</h5>
      <div class="btns-wrapper d-flex align-items-center">
        <button>mark all as read</button>
        <span class="ml-2 mr-2">•</span>
        <button>delete all</button>
      </div>
    </div>
    <ul class="notifications-body">
      <li *ngFor="let item of notifications">
        <a href="#" class="notification d-flex align-items-center">
          <div class="notification-img">
            <img src="{{item.user_creator_id?.avatar}}" alt="photo">
          </div>
          <div class="notification-info">
            <p>{{item.user_creator_id?.full_name}}  {{item.message}}</p>
            <span>{{item.created_at}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
