/* You can add global styles to this file, and also import other style files */
@import "my-styles/reset.css";
@import "my-styles/grid.css";
@import "my-styles/flex.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

/* Default classes */
.w-100 {
  width: 100%;
}
.w-15 {
  width: 15%;
}
.text-center {
  text-align: center;
}
.ml-auto {
  margin-left: auto;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}


