/* You can add global styles to this file, and also import other style files */
@import "my-styles/reset.css";
@import "my-styles/grid.css";
@import "my-styles/flex.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

/* Default classes */
.w-100 {
  width: 100%;
}
.w-15 {
  width: 15%;
}
.text-center {
  text-align: center;
}
.text-upper {
  text-transform: uppercase;
}
.ml-auto {
  margin-left: auto;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-4 {
  margin-right: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-color-gray {
  color: #585858;
}
.text-color-white {
  color: #fff;
}

.h-300 {
  height: 300px!important;
}
.transition {
  transition: .2s ease-out;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  border-radius: 500px;
  z-index: 0;
  overflow: hidden;
  transition: .4s ease-out;
  border: 3px solid transparent;
}

.btn.btn-border-violet {
  color: #fff;
  transition: all .3s ease-out;
  border: 3px solid #e12ebc;
  background-color: #eee;color: #e12ebc;

}
.btn.btn-border-violet:hover {
  box-shadow: 5px 5px 10px #e12ebc;
}

.btn.btn-border-black {
  color: #212121;
  background-color: #ccc;
  border: 3px solid black;
}
.btn.btn-border-black:hover {
  background-color: #777;
  color: #fff;
}

