<div class="home-inner">
</div>
<section class="inner-desc">
  <div class="container d-flex flex-column align-items-center">
    <ul class="inner-desc-stats d-flex align-items-center">
      <li class="d-flex align-items-center">12318 Cities</li>
      <li class="d-flex align-items-center">197 Countries</li>
      <li class="d-flex align-items-center">In 9 Regions In The World</li>
    </ul>
    <span class="inner-desc-title text-center">You can be one of the winners and we will introduce you to the world</span>
  </div>
</section>
<!--<button (click)="onClick()">Show message</button>-->
